.container{
    /* padding: 3rem 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 5rem 0;
    width: 100%;
}
.page_header{
    font-family:fantasy;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 1rem;
}
.container form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-row{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input_{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 80%;
    margin: 10px;
}
.input_ input{
    width: 80%;
    padding: 14px;
    padding-left: 8px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 0.5rem .5rem 0 0;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    font-weight: bold;
    color: rgb(231, 231, 231);
}
/* .input_ .preview_image{
    width: 30%;
} */

input::placeholder{
    color: rgb(172, 172, 172);
}

input.imageSizeSlider {
    width: 90%;
    padding: 0;
    margin: 0 10px;
}
.imageRangeSliderDiv{
    padding: 0 10px;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.removePicSpanBtn{
    cursor: pointer;
    font-size: 1.3rem;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 0.3s ease;
}
.removePicSpanBtn:hover{
    color: red;
}

#imagesContainer .input_{
    padding: 0 10px 0 0;
}

form h2{
    font-size: 1.1rem;
    margin: 0.6rem 0;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: rgb(151, 151, 151);
}
.submit_btn{
    padding: 15px 26px;
    font-weight: 300;
    letter-spacing: 1px;
    background-color:rgb(249, 55, 66);
    color: rgb(255, 255, 255);
    font-family: cursive; 
    letter-spacing: 3px;
    border-radius: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
    transition: all 0.3s ease;
}
.submit_btn:hover{
    background-color: rgb(255, 33, 54);
}
.scrollDownLink{
    padding: 15px 26px;
    font-weight: 300;
    letter-spacing: 1px;
    background-color:rgb(249, 55, 66);
    color: rgb(255, 255, 255) !important;
    font-family: cursive; 
    letter-spacing: 3px;
    border-radius: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
    transition: all 0.3s ease;
}
.scrollDownLink:hover{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(255, 33, 54);
}

#images_container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input_ h1{
    font-family: cursive;
    /* color: rgb(67, 167, 255); */
    color: rgb(255, 67, 67);
}

@media (max-width: 800px) {
    .container form {
        width: 100%;
    }
    .form-row{
        flex-direction: column;
    }
    .form-row .input_{
        width: 100%;
    }
    .input_ {
        justify-content: center;
    }
}